@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*__text__*/

$Very_dark_desaturated_blue: hsl(238, 29%, 16%);
$Soft_red: hsl(14, 88%, 65%);
$Very_dark_grayish_blue: hsl(237, 12%, 33%);
$Dark_grayish_blue: hsl(240, 6%, 50%);
/*__back_Ground__*/

$Soft_violet: hsl(273, 75%, 66%);
$Soft_blue: hsl(240, 73%, 65%);

/*__Dividers__*/

$light_grayish_blue: hsl(240, 5%, 91%);

/*__Typography__*/

$font_size: 12px;
$font-family: 'Kumbh Sans', sans-serif;

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $Soft_violet;
  font-family: $font-family;
  text-align: center;
}
// .main_box{
//   display: flex;
//   background-color: white;
//   width: 1021px;

//   margin-left: auto;
//   margin-right: auto;
//   //height: 200px;
//   border-radius: 20px;
//   padding-bottom: 50px;
//   margin-top: 100px;
// }

.main_box{
  
}


@media only screen and (max-width: 375px) {
    body {
      background-color: $Soft_violet;
      font-family: $font-family;
      height: 800px;
      text-align: center;
    }
    .main_box{
        background-color: white;
        width: 317px;
        margin-top: 164px;
        margin-left: auto;
        margin-right: auto;
        //height: 200px;
        border-radius: 20px;
        padding-bottom: 50px;
    }
    .main_img{
      position: absolute;
      height: 165px;
      top: 64px;
      right: 80px;
   }
   .shadow{
     margin-left: -8px;
   }

   .faq__box{
    width: 317px;
    margin: 0px 10px;
    padding: 0px 11px;
    text-align: left;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 20px 20px;
    //gap: 10px;
   }
  //  .accordion__item{
  //    height:45px;
  //  }
   .accordion__item{
     padding: 5px;
   }

   .btn{
     font-size: 13px;
     border: none;
     background-color: white;
     font-weight: bold;
   }
   .btn::after {
     content: url('./images/icon-arrow-down.svg');
     margin-left: 5px;
     
   }

   .content{
     font-size: $font_size;
     padding-bottom: 13px;
     font-family: $font-family;
     font-weight: 400;
   }
   
   .collapse{
     margin-top: 8px;
     height: 0px;
     overflow: hidden;
     border-bottom: 1px $light_grayish_blue solid;
     transition-duration: 800ms;
   }

  }

